<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289765437473-lms2uip22pgvafclp6dafk2rkf8kdv0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289765437473-lms2uip22pgvafclp6dafk2rkf8kdv0n</string>
	<key>API_KEY</key>
	<string>AIzaSyD8umUiAxBgTdH6NrJV2nGMBPUZqy6Lh5g</string>
	<key>GCM_SENDER_ID</key>
	<string>289765437473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.TravelRecordApp</string>
	<key>PROJECT_ID</key>
	<string>travelrecordapp-b81fa</string>
	<key>STORAGE_BUCKET</key>
	<string>travelrecordapp-b81fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289765437473:ios:04703aa42de2c883467360</string>
</dict>
</plist>